body{
    background: rgb(0, 255, 0);
 
    background: linear-gradient(to right, hsl(170, 93%, 40%), hsl(303, 90%, 49%));
}
h1{
    color: bisque;
    text-shadow: 1px 1px 1px red,
             2px 2px 1px red;
             font-family:fantasy ;
}
h2{
    font-family:cursive;
    font-size: 15px;

}
p{
    font-size: 15px;
     color:black;
     font-family:cursive;

}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
#result_of_objects, #result_of_accuracy{
    color: yellow;
}
